<div class="button-row" [ngClass]="{ handset: (isHandset$ | async) }">
  <div class="deets">
    <span class="mat-h1 pad-right-10">
      <span [ngClass]="playSessionSvc.chance === 1 ? 'active' : ''">
        {{playSessionSvc.player1Name}}: {{playSessionSvc.player1TimesWon}} (<i
          class="mdi mdi-close"
        ></i
        >)
      </span>
      <span [ngClass]="playSessionSvc.chance === 2 ? 'active' : ''">
        {{playSessionSvc.player2Name}}: {{playSessionSvc.player2TimesWon}} (<i
          class="mdi mdi-checkbox-blank-circle-outline"
        ></i
        >)
      </span>
      <!-- It is
      {{
        playSessionSvc.chance === 1
          ? playSessionSvc.player1Name
          : playSessionSvc.player2Name
      }}'s
      (<i
        class="mdi"
        [ngClass]="
          playSessionSvc.chance === 1
            ? 'mdi-close'
            : 'mdi-checkbox-blank-circle-outline'
        "
      ></i>) chance -->
    </span>
  </div>
  <!-- for desktops -->
  <button
    mat-raised-button
    color="accent"
    *ngIf="!playSessionSvc.gameInProgress && !(isHandset$ | async)"
    (click)="newGame()"
  >
    New Game
  </button>
  <button
    mat-raised-button
    color="warn"
    *ngIf="playSessionSvc.gameInProgress && !(isHandset$ | async)"
    (click)="resetGame()"
  >
    Reset Game
  </button>
  <!-- for mobile handsets -->
  <button
    mat-icon-button
    color="accent"
    *ngIf="!playSessionSvc.gameInProgress && (isHandset$ | async)"
    (click)="newGame()"
    title="Play Game"
  >
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button
    mat-icon-button
    color="warn"
    *ngIf="playSessionSvc.gameInProgress && (isHandset$ | async)"
    (click)="resetGame()"
    title="Reset Game"
  >
    <mat-icon>restore</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div class="play-board">
  <div
    *ngFor="let tile of tiles"
    [style.background]="tile.color"
    (click)="clickCell(tile)"
    class="play-square"
    [ngStyle]="{
      cursor:
        tile.tileClass.length > 0 || !playSessionSvc.gameInProgress
          ? 'no-drop'
          : 'pointer'
    }"
  >
    <span [ngClass]="tile.tileClass"></span>
  </div>
</div>
